<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        
        <title>Wall</title>
        <link href="/static/display.css" rel="stylesheet" />

        <script src="/static/jquery.js"></script>
        <script src="/static/wall.js"></script>
        {% for script in app.js_scripts %}
            <script src="/static/{{ script }}"></script>
        {% end %}

        <script>
            $(function() {
                new wall.DisplayUi({{ json_encode(app.js_modules) }});
            });
        </script>
    </head>

    <body>
        <div id="content"></div>
    </body>
</html>
