/* Basic display stylesheet */

@import url(/static/normalize.css);

*
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
#content
{
    color: white;
    background: #333;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    line-height: 1.5;
    overflow: hidden;
    height: 100vh;
}

.text-post {
    font-family: mono;
    margin: 0 auto;
}
