/*
 * Wall
 *
 * Spacing:
 *  - font size:        4vh
 *  - standard padding: 4vh
 *  - small padding:    1vh
 */

@import url("client.css");

/* ==== General ==== */

html
{
    font-size: 4vh;
}

body
{
    height: 100vh;
}

/* ==== Post ==== */

.post {
    width: 100%;
    height: 100%;
    border: none;
}

.display-post {
    background: transparent;
}

.post-content {
    height: 100vh;
}

.post-meta {
    position: absolute;
    bottom: 2.5px;
    left: 2.5px;
    max-width: calc(100% - 2 * 2.5px);
    padding: 2.5px 10px;
    margin: 0;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    font-size: x-small;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #bbb;
}

.post-poster {
    color: white;
}

/* ==== TextPost ==== */

.text-post-content
{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 1.5rem 1rem;
}

.text-post-content pre
{
    -webkit-flex: none;
    flex: none;
    margin: 0;
}

/* ==== ImagePost ==== */

.image-post-content
{
    background: center / contain no-repeat;
}

/* ==== GridPostElement ==== */

.grid-post-content {
    display: -webkit-flex;
    display: flex;
    padding: 0.125rem;
    background: #333;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
}

.grid-post-content > .post-space {
    -webkit-flex: none;
    flex: none;
    margin: 0.125rem;
    background: #444;
}

/* ==== Page ==== */

.display body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

.display body > .post-space {
    -webkit-order: 0;
    order: 0;
    -webkit-flex: auto;
    flex: auto;
}

.info {
    -webkit-order: 1;
    order: 1;
    -webkit-flex: none;
    flex: none;
    padding: 1vh 4vh;
    background: #222;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.info:empty {
    display: none;
}
