/*
 * Wall
 *
 * Spacing:
 *  - font size:        4vh
 *  - standard padding: 4vh
 *  - small padding:    1vh
 */

@import url("client.css");

/* ==== General ==== */

html
{
    font-size: 4vh;
}

body
{
    height: 100vh;
}

/* ==== Post ==== */

.post
{
    border: none;
    flex: auto;
    order: 0;
}

.post-content
{
    height: 100vh;
}

/* ==== Image Post ==== */

.image-post-content
{
    background: center / contain no-repeat;
}

/* ==== Page ==== */

.display
{
    display: flex;
    flex-direction: column;
}

.info
{
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #222;
    padding: 1vh 4vh;
    flex: none;
    order: 1;
}
.info:empty
{
    display: none;
}
