/*
 * Wall
 *
 * Spacing:
 *  - standard padding: 1.00rem
 *  - small padding:    0.25rem
 */

@import url("client.css");

/* ==== General ==== */

h1 a {
    color: inherit;
    text-decoration: none;
}

input, textarea {
    border: none;
    width: 100%;
}
button {
    border: none;
}
.buttons {
    text-align: right;
}

/* ==== Screen ==== */

.screen
{
    background: #333;
    position: absolute;
    width: 100%;
    min-height: calc(100vh - 7rem);
    padding: 0 1rem;
}

.screen header h1
{
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}

.fullscreen
{
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 0;
}

.screen:not(.fullscreen):last-child
{
    position: relative;
}

.screen-pushed,
.screen-popped
{
    transition: transform, opacity;
    transition-duration: 0.5s;
    opacity: 0.25;
    transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
}

.screen-open
{
    transition: transform, opacity;
    transition-duration: 0.5s;
}

/* ==== Selectable List ==== */

ul.select li {
    cursor: pointer;
    border-bottom: 1px solid #555;
    display: block;
    margin: 0;
    padding: 0.25rem
}
ul.select li:first-child {
    border-top: 1px solid #555;
}
ul.select li::after {
    content: " ";
    display: block;
    clear: both;
}
ul.select img {
    display: block;
    float: left;
    margin-right: 1rem;
    height: 3rem;
}
ul.select p {
    margin: 0;
    max-height: 3rem;
    overflow: hidden;
}

/* ==== Overlay Menu ==== */

ul.overlay-menu
{
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    list-style: none;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}

ul.overlay-menu li
{
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0.25rem 0.5rem;
}

/* ==== Connection Screen ==== */

.connection-screen
{
    text-align: center;
}

.connection-screen-detail
{
    font-size: 0.9rem;
}

/* ==== Page ==== */

html
{
    overflow: auto;
}

body
{
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8);
    position: relative;
    max-width: 70ch;
    min-height: 100vh;
    margin: 0 auto;
}

#header
{
    background: #222;
    padding: 1rem 0 0 0;
}

#header h1
{
    line-height: 5.0rem;
    font-size: 4rem;
    text-align: center;
    margin: 0;
}

.screen-stack
{
    overflow: visible;
}

#notification
{
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    padding: 0.3em;
    width: 100%;
}

#browser_not_supported
{
    font-size: 1.5rem;
}

/* ==== PostScreen ==== */

.post-space
{
    overflow: visible;
}

.post-menu
{
    text-align: center;
    margin-top: 2rem;
    font-size: 0; /* remove whitespaces between inline block elements */
    margin-left: 1rem; /* compansate right margin of last button in each row */
}

.post-menu button
{
    height: 5rem;
    width: 5rem;
    padding: 3.75rem 0.2rem 0.2rem 0.2rem;
    margin: 0 1rem 1rem 0;

    background: #666 no-repeat center 50%;
    background-size: 2.4rem 2.4rem;

    border: none;
    box-shadow: 0.2rem 0.2rem 0.2rem #222;
    color: #eee;
    font-size: 0.6rem;
}
