/*
 * Wall
 *
 * Spacing:
 *  - standard padding: 1.00rem
 *  - small padding:    0.25rem
 */

@import url("client.css");

/* ==== General ==== */

form
{
    overflow: visible;
}

input,
textarea,
label
{
    display: block;
    margin: 1.5rem 0;
}

input,
textarea
{
    color: #333;
    background: #fff;
    border: 1px solid white;
    border-radius: 0.25rem;
    box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 0.25rem;
}

textarea
{
    height: calc(15.5rem + 2px);
}

label input,
label textarea
{
    margin: 0;
}

label small
{
    font-size: 0.8rem;
    text-align: right;
    display: block;
}

button
{
    text-align: center;
    color: inherit;
    background: transparent;
    border: none;
    border-radius: 0;
    display: block;
    padding: 0.25rem;
}

button img
{
    vertical-align: top;
    height: 1rem;
    margin: 0.25rem;
}

p.buttons
{
    border-top: 1px solid #555;
    display: flex;
}

p.buttons button
{
    border-left: 1px solid #555;
    flex: 1 1 0;
}

p.buttons button:first-child
{
    border-left: none;
}

/* ==== Screen ==== */

.screen
{
    background: #333;
    position: absolute;
    width: 100%;
    min-height: 100vh;
}

.screen-content
{
    padding: 0 1rem;
}

.fullscreen
{
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 0;
}

.screen:not(.fullscreen):last-child
{
    position: relative;
}

.screen-pushed,
.screen-popped
{
    transition: transform, opacity;
    transition-duration: 0.5s;
    opacity: 0.25;
    transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
}

.screen-open
{
    transition: transform, opacity;
    transition-duration: 0.5s;
}

/* ==== Bar ==== */

header.bar
{
    background: #222;
    display: flex;
}

header.bar h1
{
    font-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: auto;
    padding: 0.5rem 1rem;
    margin: 0;
}

header.bar button
{
    border: solid #444;
    border-width: 0 0 0 1px;
    flex: none;
    order: 1;
    padding: 0.5rem;
}

header.bar button.bar-secondary
{
    border-width: 0 1px 0 0;
    order: -1;
}

/* ==== Selectable List ==== */

ul.select li {
    cursor: pointer;
    border-bottom: 1px solid #555;
    display: block;
    margin: 0;
    padding: 0.25rem
}
ul.select li:first-child {
    border-top: 1px solid #555;
}
ul.select li::after {
    content: " ";
    display: block;
    clear: both;
}
ul.select img {
    display: block;
    float: left;
    margin-right: 1rem;
    height: 3rem;
}
ul.select p {
    margin: 0;
    max-height: 3rem;
    overflow: hidden;
}

/* ==== Overlay Menu ==== */

ul.overlay-menu
{
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    list-style: none;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}

ul.overlay-menu li
{
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0.25rem 0.5rem;
}

/* ==== Connection Screen ==== */

.connection-screen .screen-content
{
    text-align: center;
}

.connection-screen-detail
{
    font-size: 0.9rem;
}

/* ==== Page ==== */

html
{
    overflow: auto;
}

body
{
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8);
    position: relative;
    max-width: 70ch;
    min-height: 100vh;
    margin: 0 auto;
}

.screen-stack
{
    overflow: visible;
}

#notification
{
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    padding: 0.3em;
    width: 100%;
}

#browser_not_supported
{
    font-size: 1.5rem;
}

/* ==== PostScreen ==== */

.post-space
{
    overflow: visible;
}

.post-menu
{
    text-align: center;
    font-size: 0; /* remove whitespaces between inline block elements */
    margin: 1.5rem 0 0.5rem 1rem;
}

.post-menu button
{
    display: inline-block;
    height: 5rem;
    width: 5rem;
    padding: 3.75rem 0.2rem 0.2rem 0.2rem;
    margin: 0 1rem 1rem 0;

    background: #666 no-repeat center 50%;
    background-size: 2.4rem 2.4rem;

    box-shadow: 0.2rem 0.2rem 0.2rem #222;
    font-size: 0.6rem;
}
