@import url(/static/normalize.css);
/*
 * Wall
 */

body {
    color:              #333;
    background:         #333;
    font-size:          62.5%;
    font:               normal Helvetica, Arial, Verdana, sans-serif;
}

#header {
}

#header h1 {
    /* replace me with a nice logo */
    font:           bold 3.0rem Arial, Helvetica, sans-serif;
    color:          #eee;
    text-align:     center;
    vertical-align: middle;
    padding:        10px;
    margin:         1.0rem;
}

#post-menu {
    text-align:     center;
}

#content {
    padding:            0 1.0rem 0 0;
}

.stretch {
    width:              100%;
    display:            inline-block;
    font-size:          0;
    line-height:        0;
}

#post-menu button {
    height:             5.2rem;
    width:              5.2rem;
    padding:            4.0rem 0.2rem 0.2rem 0.2rem;
    margin:             0 0 1.0rem 1.0rem;

    background:             #666;
    background-repeat:      no-repeat;
    background-size:        2.5rem 2.5rem;
    background-position:    center 50%;

    border:         0.1rem;
    border-color:   #aaa;
    border-width:   0.1rem;
    box-shadow:     3px 3px 2px #222;

    cursor:         pointer;
    display:        inline-block;

    color:          #eee;
    font-size:      0.6rem;
    font-weight:    normal;
}


/* currently playing */
#post {
    width:          auto;
    padding:        0.2rem 0.2rem 0.2rem 0.2rem;
    margin:         0.5rem 0 1.0rem 1.0rem;

    color:          #222;
    background:     #eee;

    border:         0.1rem;
    border-color:   #aaa;
    border-width:   0.1rem;
    box-shadow:     3px 3px 2px #222;

    cursor:         pointer;

    font-size:      1.0rem;
    font-weight:    normal;


}

#post p {
    margin:         0.1rem;
    padding:        0.3rem;
    font-size:      0.9rem;
    font-style:     bold;
    width:          auto:
    height:         auto;
    color:          #333;
    font:           bold 0.8rem Arial, Helvetica, sans-serif;
}

#post-new-panel {
    display: none;
}

#notification {
    text-align: center;
    color:      white;
    background: rgba(0, 0, 0, 0.9);
    display:    none;
    position:   fixed;
    left:       0;
    top:        0;
    padding:    0.3em;
    width:      100%;
}
