# Default Wall configuration. List items are space separated. Switches may
# either be set to `True` or `False`.

[wall]

# Redis database index
db = 0

# debug mode
debug = False

# list of bricks to load (given by Python module name)
bricks = wall.bricks.url wall.bricks.photo wall.bricks.pyng

info_text =

# list of enabled do post handlers
do_post_handlers = history
