# Default Wall configuration. List items are space separated. Switches may
# either be set to `True` or `False`.

[wall]

# Redis database index
db = 0

# debug mode
debug = False

# short info text visible on the display
info =

# list of bricks to load (given by Python module name)
bricks = wall.bricks.url wall.bricks.photo
