<!DOCTYPE html>
<html class="display-post" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Wall Display</title>

        <script>
            // collect stylesheets of parent
            var sheets = [];
            Array.prototype.push.apply(sheets, parent.document.styleSheets);
            // TODO: recurse imports
            var links = parent.document.querySelectorAll('link[rel="import"]');
            for (var i = 0; i < links.length; i++) {
                Array.prototype.push.apply(sheets, links[i].import.styleSheets);
            }

            // apply stylesheets
            for (var i = 0; i < sheets.length; i++) {
                var link = document.createElement("link");
                link.rel = "stylesheet";
                link.href = sheets[i].href;
                document.head.appendChild(link);
            }
        </script>
    </head>

    <body>
        <p class="post-meta">
            by <span class="post-poster"></span> at
            <span class="post-posted"></span>
        </p>
    </body>
</html>
