<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <title>Wall Display</title>
        <link href="/static/display.css" rel="stylesheet" />
        {% for stylesheet in app.stylesheets %}
            <link href="/static/{{ stylesheet }}" rel="stylesheet" />
        {% end %}

        <script src="/static/jquery.js"></script>
        <script src="/static/wall.js"></script>
        <script src="/static/display.js"></script>
        <script src="/static/remote.js"></script>
        {% for script in app.scripts %}
            <script src="/static/{{ script }}"></script>
        {% end %}

        <script>
            $(function() {
                new wall.display.DisplayUi({{ json_encode(app.js_modules) }});
            });
        </script>
    </head>

    <body></body>
</html>
