<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

        <title>Wall Client</title>
        <link href="/static/remote.css" rel="stylesheet" />
        {% for stylesheet in app.stylesheets %}
            <link href="/static/{{ stylesheet }}" rel="stylesheet" />
        {% end %}

        <script src="/static/jquery.js"></script>
        <script src="/static/util.js"></script>
        <script src="/static/wall.js"></script>
        <script src="/static/display.js"></script>
        <script src="/static/remote.js"></script>
        {% for script in app.scripts %}
            <script src="/static/{{ script }}"></script>
        {% end %}

        <script>
            $(function() {
                new wall.remote.RemoteUi({{ json_encode(app.js_modules) }},
                    {{ json_encode(app.do_post_handlers) }})
                        .run();
            });
        </script>
    </head>

    <body class="remote">
        <div class="screen-stack"></div>

        <div id="notification"></div>

        <div class="templates">
            <div class="template screen-template">
                <div class="screen">
                    <header class="bar">
                        <h1></h1>
                        <button class="screen-settings">Wall</button>
                        <button class="bar-secondary screen-go-back">
                            <img src="static/images/go-back.svg"/>
                        </button>
                    </header>
                    <div class="screen-content"></div>
                </div>
            </div>

            <div class="template connection-screen-template">
                <p class="connection-screen-state"></p>
                <p class="connection-screen-detail"></p>
            </div>

            <div class="template post-menu-template">
                <div class="post-menu">
                    <p class="post-menu-label">
                        Post to
                        <button class="post-menu-target incognito" disabled="disabled"></button>:
                    </p>
                    <div class="post-menu-actions"></div>
                </div>
            </div>
        </div>
    </body>
</html>
